{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <div id="formall">
        <h1>Script teste</h1>
        <form>
            <label for="login">Login:</label><br>
            <input type="text" id="login" name="login"><br>
            <label for="passowrd">Password:</label><br>
            <input type="password" id="password" name="passowrd">
            <button type="submit">
                <a href="newapp">Send</a>
            </button>
          </form>
    </div>
{% endblock %}