body {
    line-height: 1;
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#041833,#04244F,#154580);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}